@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  display: grid;
  background: #fff;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;

  grid-template-columns: minmax(200px, auto);
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;

  grid-template-areas:
    'hd hd hd'
    'sb ct ct'
    'ft ft ft';
}

header {
  display: flex;
  grid-area: hd;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

header > h1 {
  color: #777;
  padding-left: 0.5rem;
  text-align: center;
}
header > h2 {
  color: #888;
  padding: 0.5rem;
  text-align: center;
}

sidebar {
  grid-area: sb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 0.5rem;
  font-size: 1.2rem;
}

section {
  grid-area: ct;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-box {
  display: flex;
  border-radius: 4px;
  align-self: flex-end;
  padding-right: 4rem;
  margin: 0 0 1rem 1rem;
}

.search-term {
  width: 100%;
  height: 1.2rem;
  outline: 0;
  color: #c0c0c0;
  border: 2px solid #c0c0c0;
  border-right: none;
  border-radius: 4px 0 0 4px;
  align-self: flex-end;
  padding: 0.2rem;
}

.search-term:focus {
  color: #008b8b;
}

.search-button {
  align-self: flex-end;
  width: 40px;
  height: 36px;
  background: #008b8b;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid #008b8b;
  border-radius: 0 4px 4px 0;
  padding: 0.2rem;
}

.box {
  border: 1px solid #c0c0c0;
  display: flex;
  flex-direction: column;
}

.menu-item {
  color: #00b2b2;
}

.menu-item:hover {
  background-color: #00b2b2;
  color: #fff;
}

.submenu-item {
  color: #00b2b2;
  font-size: 1rem;
  padding-left: 1rem;
}

.social-media {
  display: flex;
  cursor: pointer;
  justify-content: center;
  margin-bottom: 1rem;
}

.content-header {
  color: #777;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 1rem;
}

.fa-dog {
  font-size: 4.5rem;
  color: #333;
}

.fa-drum {
  font-size: 4.5rem;
  color: #333;
}

.fa-plane-alt {
  font-size: 4.5rem;
  color: #333;
}

.fa-futbol {
  font-size: 4.5rem;
  color: #333;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  font-size: 0.8rem;
  padding: 1rem;
  margin: 0.5rem;
  box-shadow: 0px 2px 4px rgba(0, 55, 55, 0.4);
}

.card:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.card > p {
  color: #008282;
  margin-top: 0.5rem;
}

footer {
  grid-area: ft;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

@media (max-width: 320px) {
}

@media (max-width: 901px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(200px, auto);

    grid-template-areas:
      'hd '
      'sb'
      'ct '
      'ft ';

    align-items: center;
  }

  header > h1 {
    color: #777;
    padding: 1.5rem 0 0.5rem;
  }
  header > h2 {
    color: #888;
    font-size: 1.2rem;
  }

  .search-box {
    width: 60%;
    align-self: center;
    padding: 0;
    margin: 0.5rem 0 0.5rem;
  }

  sidebar {
    padding-left: 0.5rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }

  .content-header {
    font-size: 1.2rem;
  }

  .card > p {
    margin-right: 0.5rem;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
}
